
   <!-- <header class="header"> -->
      <!-- #Main Navbar-->
      <!-- <nav class="navbar navbar-expand-lg">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                <form action="{% url 'search' %}">
                  <div class="form-group">
                    <input type="search" name="q" id="search" placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container"> -->
          <!-- #Navbar Brand -->
          <!-- <div class="navbar-header d-flex align-items-center justify-content-between"> -->
            <!-- <a href="/" class="navbar-brand">Geek's Sentiment</a> -->
            
            <!-- <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div> -->
          <!--# Navbar Menu -->
          <!-- <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link ">Home</a>
              </li>
              <li class="nav-item"><a href="/blog" class="nav-link active ">Blog</a>
              </li>
              
              {% if request.user.is_staff %}
              <li class="nav-item"><a href="{% url 'post-create' %}" class="nav-link ">Create</a>
              </li>
              {% endif %}

              {% if request.user.is_authenticated %}
              <li class="nav-item"><a href="/accounts/logout" class="nav-link ">Logout</a>
              </li>
              <li class="nav-item"><a href="/registration/profile/" class="nav-link ">Profile</a><img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" id="img"> 

              </li>
              {% else %}
              <li class="nav-item"><a href="/accounts/login/" class="nav-link ">Login</a>
              </li>
              <li class="nav-item"><a href="/accounts/signup/" class="nav-link ">SignUp</a>
              </li>
              {% endif %}

              
              
              
            </ul>
            
        </div>
      </nav>
    </header> -->


    <!-- <div class="loader_bg">
      <div class="loader"><img src="../static_in_env/img/loading.gif" alt="#" /></div>
   </div> -->


    <header>
      <!-- header inner -->
      <div  class="navHead">
         <div class="head">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"  >
                              <img src="../media/logo.png"  >
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark " style="background: transparent;">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="/" > Home  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="/blog">Blog</a>
                              </li>
                              {% if request.user.is_staff %}
              <li class="nav-item"><a href="{% url 'post-create' %}" class="nav-link ">Create</a>
              </li>
              {% endif %}

              {% if request.user.is_authenticated %}
              <li class="nav-item"><a href="/accounts/logout" class="nav-link ">Logout</a>
              </li>
              <li class="nav-item"><a href="/registration/profile/" class="nav-link ">Profile</a><img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" id="img"> 

              </li>
              {% else %}
              <li class="nav-item"><a href="/accounts/login/" class="nav-link ">Login</a>
              </li>
              <li class="nav-item"><a href="/accounts/signup/" class="nav-link ">SignUp</a>
              </li>
              {% endif %}
                              
              
            
              
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
           </div>
            <!-- end header inner -->
           <!-- end header -->
            <!-- banner -->
                   <!-- <div id="about" class="banner_main">
            <section class="banner_main">
            <div class="container">
               <div class="row d_flex">
                  <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                     <div class="text-bg">
                        <h1>Computer Science Portal<br> </h1>
                        <p>Computer Science Portal is an Website where you find
             blogs related to computer science and it will
             help you with your knowledge We have number of users who share their
             knowledge through the blog here,and the advantage
             is it is sorted with positive sentiments. The blogs will help you with your studies.
           </p>
                        <a href= "#">Read More</a>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-12-3">
                     <div class="text-img">
                        
                     </div>
                  </div>
               </div>
            </div>
            </section>-->
         </div> 
      </div>
    </header>